/* :root {

} */

body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'smythe', serif;
} 

/* Header Styling */
header {
    display: flex;
    background-image: url("./burger.jpg");
    background-size: cover;
    background-position: static;
    background-position-y: 72%;
    background-repeat: no-repeat;
    height: 15vh;
    align-items: center;
    padding-left: 10vw;
    color: #ffffff;
}

header h1 {
    font-size: 3.5rem;
}

header h2 {
    font-size: 2rem;
    text-shadow: -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

.header hgroup {
    margin: 0;
    line-height: 1.3rem;
}

/* Menu Area */

.menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center; 
}

.menu-item {
    border-bottom: solid 2px #d2d2d2;
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
}

.menu-item h3 {
    font-size: 1rem;
}

.emoji-div {
    font-size: 5rem;
    transform: translateX(-10px) translateY(-10px);
}

.ingredients {
    color: #8B8B8B;
    font-weight: 100;
}

.btn-container {
    margin-left: auto;
}

.add-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid #dedede;
    background-color: inherit;
    font-size: 1.5rem;
}

.add-btn:hover {
    box-shadow: 1px 1px black;
}

.add-btn:active {
    box-shadow: inset 1px 1px black;
}

/* Order Area */

.order-area .order-heading{
    text-align: center;
    padding-top: 15px;
}

.hidden {
   display: none;
}

.current-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 5vh;
    h3 {
        padding-right: 20px;
        font-size: 2rem
    }
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .75rem;
        color:#8B8B8B}

    p:hover{
            text-decoration: underline red;
            cursor: pointer;
        }
}

.order-item .item-price {
    margin-left: auto;
}