:root {
    --background-color: #02010B;
    --heading-text: #ffe1ea;
    
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "Orbitron", sans-serif;
    color: #001514
} 

/* Header  */
.header {
    background-image: url("./cyber-punk-theme/cp-foodtruck.avif");
    background-size: 100%;
    background-position: absolute;
    background-position-y: 72%;
    background-repeat: no-repeat;
    align-items: center;
    padding: .5vh 0;
    color: var(--heading-text);
    
    h1 {
    font-size: 2rem;
    text-shadow: 2px 3px #020807;
    }

    h2 {
        font-size: 1.75rem;
        text-shadow: 1px -1px 2px #000, 
        1px -1px 2px #000,
        -1px 1px 2px #000, 
        1px 1px 2px #000;
        
        sub {
            font-size: .8rem;;
         }
    }

    hgroup {
        line-height: 2rem;
        padding-left: 10vw;
    }
}

/* Menu Area */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 2em 2em auto auto;


    .menu-item {
    border-bottom: solid 2px #e952de;
    box-shadow: 0px 3px 11px #ffa0fd;
    text-shadow: 0px 0px 6px #ffa0fd;
    display: flex;
    width: 80vw;
    align-items: center;
    line-height: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 10px;
    

        img {
        width: 15vw;
        }

        .item-info {
            margin-left: 10px;
        }
        
        .ingredients {
        color: #8B8B8B;
        font-weight: 100;
        }

        .btn-container {
            margin-left: auto;
            padding-right: 5px;
            
    
                .add-btn {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: 2px solid #ffe1ea;
                background-color: inherit;
                font-size: 1.5rem;
                text-shadow: 0px 0px 3px #e952de,
                0px 0px 8px #e952de;
            }
            .add-btn:hover {
                box-shadow: 1px 1px black;
                cursor: pointer;
            }
            .add-btn:active {
                box-shadow: inset 1px 1px black;
            }
    
        }
    
    }
}







/* Order Area */

.order-area{
    width: 80vw;
    margin: auto;
    
    .order-heading{
    text-align: center;
    padding-top: 15px;
    text-shadow: 0px 0px 3px #ECFDF5;
}
    
}

 

.current-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: auto
}

.order-item {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #ffa0fd;

    .item-description {
        margin-left: -20px;
        font-weight: 100;
    }

    .item-price {
            margin-left: auto;
            transform: translateX(-20px);
            font-weight: 100;
            font-size: 1.4rem;
        }

    button {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .75rem;
        color:#8B8B8B;
        border: none;
        background-color: inherit;
        margin: .5vw;
    }

    button:hover{
            text-decoration: underline red;
            cursor: pointer;
    }
}


/* Order Total Area */

.order-total-area {
    display: flex;
    align-items: center;
    margin: auto;
    border-top: 2px solid black;
    font-weight: 100;
    font-size: 1.7rem;
    text-shadow: 0px 0px 4px #e952de,
    1px 1px 5px #e952de,
    -1px -1px 6px #ecf009;

    .item-description {
        width: 5%;
    }

    .align-right{
        font-size: 1.4rem;
        margin-left: auto;
    }
}

.complete-order-btn {
    height: 5vh;
    width: 80vw;
    border-radius: 5px;
    border: none;
    background-color: #ff2929c9;
    color: #ffee8d;
    box-shadow: 0px 0px 30px red;
    text-shadow: 0px 0px 10px yellow;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    margin: 15px auto;
}


.complete-order-btn:hover {
    color: red;
    background-color: #ffee8d;
    border: 2px solid red;
    cursor: pointer;
    box-shadow: 0px 0px 30px #ecf009;
}

.complete-order-btn:active {
    box-shadow: none
}

/* TY message */

.ty-message {
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 5vh auto;
    width: 80vw;
    height: 10vh;
    background-color: #ECFDF5;
    color: #065F46;
        
}

/* Payment Modal */

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;


    .payment-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto; 
        width: 85%;
        height: 50%; 
        min-height: 500px;
        background-color: var(--background-color);
        box-shadow: 0px 0px 100px 0px;
        border-radius: 5px;
        z-index: 2;
        font-family: sans-serif;
        overflow: auto;
        color: #e952de;
        text-shadow: 0px 0px 3px #ffa0fd;


        .customer-entry{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 82%;
            height: 25%;
            justify-content: center;
            margin: 2em auto;
            text-align: start;
        }

        
        label {
            padding-left: .8em;
        }

        
        .input {
            height: 50px;
            font-size: large;
            padding-left: 20px;
            margin-top: 10px;
        }

        .pay-btn {
            width: 82%;
            height: 50px;
            color: #ecf009;
            background-color: red;
            font-weight: bolder;
            font-size: larger;
            text-shadow: 1px 1px 3px #ECFDF5;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            align-items: center;
        }

    }
}

/* Misc classes used to reveal elements with JS */

.hidden {
    display: none;
}