

body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'smythe', sans-serif;
} 

/* Header  */
.header {
    background-image: url("./burger.jpg");
    background-size: 100%;
    background-position: absolute;
    background-position-y: 72%;
    background-repeat: no-repeat;
    align-items: center;
    padding: .5vh 0;
    color: #ffffff;
    
    h1 {
    font-size: 3rem;
    }

    h2 {
        font-size: 1.75rem;
        text-shadow: 1px -1px 2px #000, 
        1px -1px 2px #000,
        -1px 1px 2px #000, 
        1px 1px 2px #000;
    }

    hgroup {
        line-height: 1.3rem;
        padding-left: 10vw;
    }
}

/* Menu Area */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 2em 2em auto auto;


    .menu-item {
    border-bottom: solid 2px #d2d2d2;
    display: flex;
    width: 80vw;
    align-items: center;
    line-height: 8px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    

        .emoji-div {
        font-size: 6rem;
        transform: translate(-10px) ;
        }
        
        .ingredients {
        color: #8B8B8B;
        font-weight: 100;
        }

        .btn-container {
            margin-left: auto;
        
    
                .add-btn {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: 2px solid #dedede;
                background-color: inherit;
                font-size: 1.5rem;
            }
            .add-btn:hover {
                box-shadow: 1px 1px black;
                cursor: pointer;
            }
            .add-btn:active {
                box-shadow: inset 1px 1px black;
            }
    
        }
    
    }
}







/* Order Area */

.order-area{
    width: 80vw;
    margin: auto;
    
    .order-heading{
    text-align: center;
    padding-top: 15px;
}
    
}

 

.current-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: auto
}

.order-item {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 1.7rem;

    .item-description {
        margin-left: -20px;
        font-weight: 100;
    }

    .item-price {
            margin-left: auto;
            transform: translateX(-20px);
            font-weight: 100;
            font-size: 1.4rem;
        }

    button {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .75rem;
        color:#8B8B8B;
        border: none;
        background-color: #ffffff;
        margin-left: 1vw;
    }

    button:hover{
            text-decoration: underline red;
            cursor: pointer;
    }
}


/* Order Total Area */

.order-total-area {
    display: flex;
    align-items: center;
    margin: auto;
    border-top: 2px solid black;
    font-weight: 100;
    font-size: 1.7rem;

    .align-right{
        font-size: 1.4rem;
        margin-left: auto;
    }
}

.complete-order-btn {
    height: 5vh;
    width: 80vw;
    border-radius: 5px;
    border: none;
    background-color: #16db99;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px auto;
}


.complete-order-btn:hover {
    color: #16db99;
    background-color: #ffffff;
    border: 2px solid #16db99;
    cursor: pointer;
    box-shadow: 3px 3px #16db99;
}

.complete-order-btn:active {
    box-shadow: none
}

/* TY message */

.ty-message {
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 5vh auto;
    width: 80vw;
    height: 10vh;
    background-color: #ECFDF5;
    color: #065F46;
        
}

/* Payment Modal */

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;


    .payment-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto; 
        width: 85%;
        height: 50%; 
        min-height: 500px;
        background-color: #ffffff;
        box-shadow: 0px 0px 100px 0px;
        border-radius: 5px;
        z-index: 2;
        font-family: sans-serif;
        overflow: auto;

        .customer-entry{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 82%;
            height: 25%;
            justify-content: center;
            margin: 2em auto;
            text-align: start;
        }

        
        label {
            padding-left: .8em;
        }

        
        .input {
            height: 50px;
            font-size: large;
            padding-left: 20px;
            margin-top: 10px;
        }

        .pay-btn {
            width: 82%;
            height: 50px;
            color: #ffffff;
            background-color: #16db99;
            border: none;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            align-items: center;
        }

    }
}
/* Misc classes used to reveal elements with JS */

.hidden {
    display: none;
}

/* This is my first time experimenting with nested CSS. Is it too much? Do you prefer nested or un-nested CSS? */